* {
  margin: 0;
  padding: 0;
}

.main-background {
  background-image: url(https://uspto.report/TM/90660830/mark.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 10px solid goldenrod;
  height: 110vh;
}

.land-background {
  background-image: url(http://www.cbc.ca/polopoly_fs/1.4548844!/fileImage/httpImage/image.gif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.sea-background {
  background-image: url(https://78.media.tumblr.com/b5fabee45bc929bf5338b4a1ddca46c5/tumblr_pte5c0vosj1uezmbko1_1280.gif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.color-background {
  background-image: url(https://cutewallpaper.org/21/rgb-desktop-background/Black-Desktop-Backgrounds-Wallpaper-High-Definition-High-.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.land-game {
  color: crimson;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  text-align: center;
}
.color-game {
  color: crimson;
  font-size: 30px;
}
.sea-game {
  color: darkblue;
  font-size: xx-large;
}
.h1 {
  font-size: 50px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  text-align: center;
  color: crimson;
}

h2 {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 2rem;
  text-align: center;
  font: bold;
}

h3,
h4,
h5,
h7 {
  font-size: 20px;
  color: crimson;
  font-style: oblique;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 20px;
}

h6 {
  font-size: 20px;
  text-align: center;
  color: blue;
}
h8 {
  font-size: medium;
  color: red;
  font-family: monospace;
  animation: blinking .5s infinite;
  padding: 10px;
  border-style: dotted;
  color: yellow;
}
@keyframes blinking{
  100%{color: black;}
}

a {
  color: crimson;
  font-size: 20px;
  padding: 10px;
  display: flex;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.start_btn {
  display: flex;
  flex-direction: column;
  border-radius: 15rem;
  padding: 10px;
  background-color: crimson;
  color: blanchedalmond;
  cursor: pointer;
}

.reset-game {
  border-radius: 20rem;
  padding: 10px;
  background-color: yellow;
  color: black;
  cursor: pointer;
}
.first,
.second,
.third,
.fourth {
  text-align: center;
  padding: 1rem;
}
.card {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: crimson;
  cursor: pointer;
  background-position: center;
  border-radius: 15px;
}

.timer {
  color: white;
  font-size: xx-large;
}
.card-click {
  box-shadow: 0px 0px 0px 3px rgb(192, 155, 53) (45, 0, 128);
  box-sizing: border-box;
}
.red {
  background-color: red;
}
.teal {
  background-color: teal;
}
.gray {
  background-color: gray;
}
.orange {
  background-color: orange;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.white {
  background-color: white;
}
.blue {
  background-color: blue;
}
.color-hidden {
  background-color: crimson;
}

* {
  box-sizing: border-box;
}
html {
  min-width: 100vh;
}

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}
.game-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  margin: 50px;
  justify-content: center;
  perspective: 500px;
}
.cards {
  position: relative;
  background-color: black;
  height: 100px;
  width: 100px;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: transform 500ms ease-in-out;
}

.cards.visible .card-back {
  transform: rotateY(0);
}
.cards.visible .card-front {
  transform: rotateY(-180deg);
}

.card-back {
  transform: rotateY(180deg);
}

.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: crimson;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.overlay-text-small {
  font-size: 0.3em;
}

.overlay-text.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 10em;
  }
}

@media (max-width: 600px) {
  .game-container {
    grid-template-columns: repeat(2, auto);
  }

  .game-info-container {
    flex-direction: column;
    align-items: center;
  }
}
